@import url(../styles.css);

/* About Section CSS*/
.body-grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.sections-grid {
    grid-column: 2 / 16;
    margin: 0 1.25em
}

/* Story CSS */
.story-grid {
    min-height: 100%;
    display: grid;
    grid-template-columns: 41.1281% auto;
    column-gap: 0.96875em;
}

.story-img-box {
    height: 42.15625em;
    width: 42.15625em;
}

.story-img-fill {
    width: 100%;
    object-fit: fill;
}

.story-text p {
    padding-right: 4rem;
    font: 20px 'Montauk-Light';
    line-height: 1;
}

.ps-20 {
    padding-left: 2.5em;
}
/* Story CSS End */

/* Card CSS */
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.125rem 1rem;
}




.card {
    border-radius: 0;
}

.card img {
    border-radius: 0;
}

.card-img-size {
    max-width: 33.65em;
    max-height: 33.65em;
}

.card-size {
    max-width: 33.65em;
}

.card-body {
    padding: 1.875rem 1.875rem 2.4375rem !important;
}

.card-body h1 {
    line-height: 2.75rem;
}



.width-size-t {
    width: 102.5em;
}

.header-size-t {
    height: 5em;
    width: 102.5em;
}

.photo-fit-t {
    object-fit: cover;
}



/* About Session End */

@media (max-width: 1750px) {
    .story-grid {
        grid-template-columns: 1fr;
    }

    .story-img-fill{
        height: 25.9375rem;
        object-fit: cover;
        object-position: 100% 36%;
    }
}

@media (max-width: 1350px) {
    .story-img-fill {
        height: 20em;
    }
}

@media screen and (max-width: 991px) {
    .story-img-fill {
        height: 15em;
    }
   
    .text-size-50 {
        font-size: 30px;
    }

    .text-size-30 {
        font-size: 50px;
    }

    .md-text-size {
        font-size: 30px;
    }
}

@media screen and (max-width: 575px) {
    .text-size-50 {
        font-size: 20px;
    }

    .text-size-20 {
        font-size: 14px;
    }

    .text-size-30 {
        font-size: 30px;
    }
}