@import url(../styles.css);

/* Photo Section CSS */
.body-grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.sections-grid {
    grid-column: 2 / 16;
    margin: 0 1.25em;
}

.photos-grid {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.125em 1em;
}

.grid-margins {
    margin: 0 1.25em;
}

.photos-grid div {
    border: 10px solid white;
}

@media screen and (max-width: 1999px) {
    .photos-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1199px) {
    .photos-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 991px) {
    .photos-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .text-size-50 {
        font-size: 40px;
    }
}

@media screen and (max-width: 522px) {
    /* Navbar */
    .navbar-brand {
        width: 65%;
    }

    /* Section */
    .photos-grid {
        grid-template-columns: 1fr;
    }

    .text-size-50 {
        font-size: 30px;
    }

    .text-size-20 {
        font-size: 16px;
    }
}
