.disp-flex-end{
    display: flex;
    justify-content: end;
}


:root {
    --maroon: #5F002B;
}

.bg{
    background-image: url(../assets/photos/bgtexture.jpg);
}

@font-face {
    font-family: Montauk-Bold;
    src: url(/assets/fonts/Montauk-Regular/Montauk-Bold.otf);
}

@font-face {
    font-family: Montauk-Italic;
    src: url(/assets/fonts/Montauk-Regular/Montauk-Italic.otf);
}

@font-face {
    font-family: Montauk-Light;
    src: url(/assets/fonts/Montauk-Regular/Montauk-Light.otf);
}

@font-face {
    font-family: Montauk-Regular;
    src: url(/assets/fonts/Montauk-Regular/Montauk-Regular.otf);
}

@font-face {
    font-family: Fugaz-One-Regular;
    src: url(/assets/fonts/Fugaz_One/FugazOne-Regular.ttf);
}

.Montauk-Bold{
    font-family: Montauk-Bold;
}


.Montauk-Italic{
    font-family: Montauk-Italic;
}

.Montauk-Light{
    font-family: Montauk-Light;
}

.Montauk-Regular{
    font-family: Montauk-Regular;
}
.Fugaz-One-Regular{
    font-family: Fugaz-One-Regular;
}

.text-size-50 {
    font-size: 50px;
}

.text-size-35 {
    font-size: 35px;
}

.text-size-30 {
    font-size: 30px;
}

.text-size-20 {
    font-size: 20px;
}




.text-maroon{
    color: var(--maroon);
}

.companylogo{
    height: 31.6px;
    width: 100px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .col-5, .col-7 {
      width: 100%;  
      display: block; 
      
    }


  }